<div class="my_order">

    <!-- 切换tab-->
    <div class="shop_order_tab">

        <div class="tab_contain jdshop_shadow" id="orderTab">
            <div class="tab choose_tab">全部</div>
            <div class="tab">待付款</div>
            <div class="tab">待收货</div>
            <div class="tab">已完成</div>
            <!--<div class="tab">已取消</div>-->

        </div>



    </div>




</div>








<script>



    //tab 切换

    jfProductDetails.clickTabChange(document.getElementById('orderTab'), 'choose_tab', 'tab');



</script>

