<div class="jd_drop_down" id="brand_list">
    <div class="jd_drop_down_content mother">
        <div class="brand_list">
            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class1.png">
                </div>
                <p> 母婴</p>
            </div>

            <div class="tab hideclear ">
                <div class="pic">
                    <img  src="../images/pics/class2.png">
                </div>
                <p> 湿巾</p>
            </div>

            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class3.png">
                </div>
                <p> 奶粉</p>
            </div>

            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class4.png">
                </div>
                <p> 奶瓶</p>
            </div>
            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class5.png">
                </div>
                <p> 母婴</p>
            </div>

            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class6.png">
                </div>
                <p> 冲饮</p>
            </div>

            <div class="tab hideclear">
                <div class="pic">
                    <img  src="../images/pics/class7.png">
                </div>
                <p> 食材</p>
            </div>

        </div>
        <!--<div class="operation_btn">-->
            <!--<div class="ensure" onclick="searchBrand.hide()">确定</div>-->
        <!--</div>-->
    </div>
    <div class="jd_drop_down_bg"></div>
</div>