<div class="recommend_more goods_list_contain">
    <div class="contain_box"></div>

    <div class="recommendation recommendation1">

        <!--第一行-->
        <div class="goods_list list1">

            <a class="list_detail center"  href="introduce_use.html">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                </div>
                <div class="goods_title">车载空气净化器净化器</div>
                <div class="price">¥399.90</div>
            </a>

            <a class="list_detail right"  href="introduce_use.html">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods3.png">
                </div>
                <div class="goods_title">网易智造X3蓝牙耳机</div>
                <div class="price">¥199.90</div>
            </a>



            <a class="list_detail left" href="introduce_use.html">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods1.png">
                </div>
                <div class="goods_title">谷风一木软抽面巾纸</div>
                <div class="price">¥16.90</div>
            </a>

            <a class="list_detail center"  href="introduce_use.html">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                </div>
                <div class="goods_title">车载空气净化器净化器</div>
                <div class="price">¥399.90</div>
            </a>




            <a class="list_detail center"  href="introduce_use.html">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                </div>
                <div class="goods_title">车载空气净化器净化器</div>
                <div class="price">¥399.90</div>
            </a>

            <a class="list_detail right"  href="">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods3.png">
                </div>
                <div class="goods_title">网易智造X3蓝牙耳机</div>
                <div class="price">¥199.90</div>
            </a>


            <a class="list_detail left" href="">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods1.png">
                </div>
                <div class="goods_title">谷风一木软抽面巾纸</div>
                <div class="price">¥16.90</div>
            </a>

            <a class="list_detail center"  href="">
                <div class="pic">
                    <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                </div>
                <div class="goods_title">车载空气净化器净化器</div>
                <div class="price">¥399.90</div>
            </a>



        </div>


    </div>
</div>