<!-- 固定tab-->
<div class="search_results_nav">
    <div class="tab_box"></div>
    <div class="search_nav_content">


        <!-- 综合-->
        <div class="comprehensive search_results_tab price">
            <span>综合</span>
        </div>

        <!-- 价格 -->
        <div class="price shop">
            <!--<div class="search_results_tab arrow up_arrow">▲</div>-->
            <!--<div class="search_results_tab arrow down_arrow">▼</div>-->
            <span>价格</span>
        </div>

        <!-- 销量 -->
        <div class="price volume  ">
            <!--<div class="search_results_tab arrow up_arrow">▲</div>-->
            <!--<div class="search_results_tab arrow down_arrow">▼</div>-->
            <span>销量</span>
        </div>

        <!-- 上新 -->
        <div class="new price">上新</div>


    </div>


</div>




<script src="../js/jquery-3.0.0.min.js"></script>
<script>


    addClass.priceClass();



</script>