



<div  class="container_main">

<!--收货地址-->
<a class="take_address" href="#1">

    <div class="address_name">

        <div class="name_name">江小白</div>

        <div class="contact_phone">
            <div>1860 6600 5588</div>
            <span>上海市徐汇区虹桥路，加华广场D5栋，加华广场加华广场</span>
        </div>

    </div>

    <img src="../images/hkb_shopping/icon_shopping_03.png" class="address_icon">

</a>

<!--模块（1）-->

<div class="module_first">

    <!--品牌及包邮信息-->
    <div class="cost_express">
        <img src="../images/hkb_shopping/icon_shopping_01.png">
        <span class="express_state">网易严选 &#155 网易严选，满88元包邮</span>
    </div>

    <!--商品列表(1)-->

    <div class="edit_product">

        <a class="product_minute" href="introduce_use.html">

            <div class="product_img">
                <img src="../images/hkb_shopping/icon_shopping_02.png"
                     class="product_small_img">
            </div>

            <div class="minute_text">
                <!--商品名称-->
                <div class="title">冰冻银耳汤 15克*10包</div>

                <!--SKU信息-->
                <div class="sku_minute">SKU信息</div>

                <!--价格及加减数量-->
                <div class="adjust_number">

                    <div class="price"><span>¥</span>156.00</div>

                    <div class="number_btn" >

                        <div>&times;1</div>

                    </div>

                </div>

            </div>

        </a>

    </div>


    <!--商品列表(2)-->
    <div class="edit_product">

        <a class="product_minute"  href="introduce_use.html">

            <div class="product_img">
                <img src="../images/hkb_shopping/icon_shopping_02.png"
                     class="product_small_img">
            </div>

            <div class="minute_text">
                <!--商品名称-->
                <div class="title">冰冻银耳汤 15克*10包</div>

                <!--SKU信息-->
                <div class="sku_minute">SKU信息</div>

                <!--价格及加减数量-->
                <div class="adjust_number">

                    <div class="price"><span>¥</span>156.00</div>

                    <div class="number_btn" >

                        <div>&times;1</div>

                    </div>

                </div>

            </div>

        </a>

    </div>

    <div class=" total">
        <p >待付款，小计：¥300.00（含运费¥5.00）</p>
    </div>

</div>


<!--模块（2）-->

<div class="module_first">

    <!--品牌及包邮信息-->
    <div class="cost_express">
        <img src="../images/hkb_shopping/icon_shopping_01.png">
        <span class="express_state">网易严选 &#155 网易严选，满88元包邮</span>
    </div>

    <!--商品列表(1)-->
    <div class="edit_product">

        <a class="product_minute">

            <div class="product_img">
                <img src="../images/hkb_shopping/icon_shopping_02.png"
                     class="product_small_img">
            </div>

            <div class="minute_text">
                <!--商品名称-->
                <div class="title">冰冻银耳汤 15克*10包</div>

                <!--SKU信息-->
                <div class="sku_minute">SKU信息</div>

                <!--价格及加减数量-->
                <div class="adjust_number">

                    <div class="price"><span>¥</span>156.00</div>

                    <div class="number_btn" >

                        <div>&times;1</div>

                    </div>

                </div>

            </div>

        </a>

    </div>


    <!--商品列表(2)-->
    <div class="edit_product">

        <a class="product_minute">

            <div class="product_img">
                <img src="../images/hkb_shopping/icon_shopping_02.png"
                     class="product_small_img">
            </div>

            <div class="minute_text">
                <!--商品名称-->
                <div class="title">冰冻银耳汤 15克*10包</div>

                <!--SKU信息-->
                <div class="sku_minute">SKU信息</div>

                <!--价格及加减数量-->
                <div class="adjust_number">

                    <div class="price"><span>¥</span>156.00</div>

                    <div class="number_btn" >

                        <div>&times;1</div>

                    </div>

                </div>

            </div>

        </a>

    </div>

    <div class=" total">
        <p >待付款，小计：¥300.00（含运费¥5.00）</p>
    </div>

</div>




</div>
<!-- 编辑 -->
<div class="operation_tab_a">
    <div class="affirm_blank"></div>

    <div class="hkb_alignment_left">

        <div class="include_left">含运费</div>

        <div class="hkb_price">合计:
            <span class="font_red">￥139.00</span>
        </div>

    </div>

    <!--<a class="operation_btn" href="pay_page.html">提交订单</a>-->
    <button class="operation_btn"  onclick="window.location.href='pay_page.html'">提交订单</button>

</div>