<div class="homepage_advertising">

    <div class="notice_icon">
        <img src="../images/icons/notice.png">
    </div>

    <div class="notice_text">
        <p>限时活动来袭，快快参加！</p>
        <p>最新爆品，你想要的都在这里，快快抢购！</p>
    </div>
</div>