<div class="details_order_number">

    <div class="order_number">

        <p >子订单编号：</p>
        <p >DEF67388887979</p>

    </div>

    <div class="order_number">

        <p >子订单流水号：</p>
        <p >DEF67388887979</p>

    </div>

    <div class="order_number">
        <p>下单时间：</p>
        <p> 2018-05-13  17:56:36</p>
    </div>
    <div class="order_number">
        <p>支付时间：</p>
        <p> 2018-05-13  17:56:36</p>
    </div>
</div>