
<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images jf_autoplay_init">

        <a href="">
            <div class="JD_banner_template">

                <div class="banner_paster">
                    <img src="../images/pics/homepage_banner1.png">
                </div>

            </div>
        </a>

        <a href="">
            <div class="JD_banner_template">

                <div class="banner_paster">
                    <img src="../images/pics/store_homepage_banner1.png">
                </div>

            </div>
        </a>

        <a href="">
            <div class="JD_banner_template">

                <div class="banner_paster">
                    <img src="../images/pics/homepage_banner1.png">
                </div>

            </div>
        </a>

        <a href="">
            <div class="JD_banner_template">

                <div class="banner_paster">
                    <img src="../images/pics/store_homepage_banner1.png">
                </div>

            </div>
        </a>

    </div>

    <div class="jf_pagination">

    </div>

</div>

<script>

    jfAutoPlay.jfCarouselInit();

</script>
