
<div class="search_tab">

    <div class="city_choice" href="">
        <div class="city">

            <select >
                <option selected="selected">上海</option>
                <option >北京</option>
                <option >天津</option>
                <option >南京</option>
            </select>

        </div>
    </div>


    <div class="content">
        <div class="search ">
            <img class="search_icon" src="../images/icons/search.png">
            <form action="">
                <input type="search" placeholder="输入商品名搜索">
            </form>

        </div>
    </div>

</div>


