
<div class="jd_loading">
    <div class="loading_box jdshop_alignment_center">
        <div class="ball1"></div>
        <div class="ball2"></div>
        <div class="ball3"></div>
    </div>
    <div class="loading_animation_text"><%=text%></div>

</div>