.recommend_more{
  width: 100%;
  background-color: white;

  /*标题*/

  .recommendation{
    padding: 20px 0;
    position: relative;


    div.title{
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        display: inline-block;
        margin: 0 10px;
      }

      .line{
        border-bottom:1px solid #ddd;
        width: 10%;
      }
    }
  }


  /* 第一行*/

  .goods_list{
    padding: 0 2%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .list_detail{
     /* display: inline-block;*/
      padding:1%;
      width:48%;
      color: #4a4a4a;
      text-align: center;


      .pic {
        width: 160px;
        height: 160px;
        margin: 0 auto 5px;

        @media screen and (max-width:375px) {
          width: 165px;
          height: 165px;
        }
        @media screen  and (max-width: 330px) {
        width: 140px;
        height: 140px;
      }


      }


      .goods_title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:1;
        overflow: hidden;
      }

      img{
        width: 100%;
        height: 100%;
      }

      .price{
        color: #ff8000;
      }
    }

  }

}