<style>
    button {

        width: 100%;
        height: 50px;
        display: block;
        margin: 10px 0;
    }

</style>

<button onclick="jfShowTips.toastShow({'text' : '提示信息'})">弱提示</button>


