<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain hkbstore_alignment_center ">
        <a href="homepage.html" class="current_page hkb_tab_on">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_homepage_grey.png">
                <img src="../images/icons/icon_homepage_orange.png">
            </div>
            <p>首页</p>
        </a>

        <a href="hkb_cart.html" class="current_page">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_shoppingcart_grey.png">
                <img src="../images/icons/icon_shoppingcart_orange.png">
            </div>
            <p>购物车</p>
        </a>
        <a href="hkbstore_mine.html" class="current_page">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_mine_grey.png">
                <img src="../images/icons/icon_mine_orange.png">
            </div>
            <p>我的</p>
        </a>
    </div>
</footer>