<!-- 顶部导航 -->
<!--
<nav class="hkb_top_bar">
    <div class="hkb_top_contain hkbstore_alignment_center">


        <div class="content">
            <a class="left" onclick="window.history.go(-1)">
                <p class="back"><img src="../images/icons/nav_go_back.png"></p>
            </a>

            <div class="center">
                订单详情
            </div>
            <div class="right left">

            </div>

        </div>


    </div>
</nav>
-->
