<!--子订单编号-->
<%- include('details_order_number/details_order_number.ejs')%>

<!--物流地址-->
<%- include('logistics_address/logistics_address.ejs')%>


<!--商品信息-->
<%- include('details_list/details_list.ejs')%>


<!--底部按钮-->

<div class="affirm_blank"></div>

<div class="order_detail_btn">

    <a class="cancle_order" href="" >取消订单</a>

    <a class="operation_btn goto_pay" href="">确认收货</a>

</div>