<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/delivery_address/delivery_address.ejs')%>


</body>
</html>