<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/hkbstore_mine/hkbstore_mine.ejs')%>


</body>
</html>