<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="../../css/hkb_store.css">
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/shop_introduce/introduce_use.ejs')%>


</body>
</html>