<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全验证</title>
    <link rel="stylesheet" href="../../css/hkb_store.css">
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/shop_password/password_verify.ejs')%>


</body>
</html>