<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单确认</title>
    <link rel="stylesheet" href="../../css/hkb_store.css">
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/shop_pay/pay_page.ejs')%>


</body>
</html>