<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网易严选</title>
</head>
<body>


<!--汇卡宝商城首页-->

<%- include('../component/recommend_more/recommend_more.ejs')%>


</body>
</html>