



<!--列表-->
<%- include('add_address_content/add_address_content.ejs')%>



<!--选择地址-->
<div class="address_dialog">
    <%- include('../delivery_address/edit_address_dialog/product_prompt_1_address.ejs')%>
</div>



<!-- 底部按钮-->

<div class="bottom_button">
    <div class="tab_box"></div>
    <a class="button_contain" onclick="pageChange.sectionBack()">
        保存
    </a>

</div>


