<div class="homepage_all_mall">
    <div class="all_mall">
        <div class="mall_list list1">

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/jd_logo.png">
                <p class="text">京东商城</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/meituan_logo.png">
                <p class="text">美团</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/dianping_logo.png">
                <p class="text">大众点评</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/yanxuan_logo.png">
                <p class="text">网易严选</p>
            </a>

        </div>

        <div class="mall_list list2">

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/suning_logo.png">
                <p class="text">苏宁易购</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/pay_icon.png">
                <p class="text">话费充值</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/service_icon.png">
                <p class="text">生活服务</p>
            </a>

            <a class="mall_detail mall_jd" href="store_homepage.html">
                <img class="jd_logo" src="../images/pics/more_icon.png">
                <p class="text">更多</p>
            </a>

        </div>

    </div>


</div>