



<!--列表-->
<%- include('delivery_address_list/delivery_address_list.ejs')%>



<!-- 底部按钮-->

<div class="bottom_button  ">
    <div class="tab_box"></div>
    <a class="button_contain " href="add_address.html">
        添加新地址
    </a>

</div>




