
<div class="logistics_address">

    <a class="check_logistics" href="look_logistics.html">

        <div class=" left">查看物流</div>
        <img class="right" src="../images/icons/the_arrow.png" >

    </a>


    <div class="take_address">

        <div class="address_name">

            <div class=" left">江小白</div>

            <div class="contact_phone">
                <div>1860 6600 5588</div>
                <span>上海市徐汇区虹桥路，加华广场D5栋，加华广场加华广场</span>
            </div>

        </div>


    </div>





</div>


