<div class="status_pie">

    <div class="status_pie_title">物流状态 ：<span class="status_pie_send">  派件中</span></div>

    <div class="status_pie_tickets">子订单号 ： 12300012300045</div>

    <div class="status_pie_line">

    </div>

    <div class="status_pie_images">
        <img src="../images/pics/homepage_goods1.png" >
        <img src="../images/pics/homepage_goods2.png" >
        <img src="../images/pics/homepage_goods3.png" >
        <img src="../images/pics/homepage_goods2.png">
        <img src="../images/pics/homepage_goods1.png" >
        <img src="../images/pics/homepage_goods2.png" >
        <img src="../images/pics/homepage_goods3.png" >
        <img src="../images/pics/homepage_goods2.png">
        <img src="../images/pics/homepage_goods1.png" >
    </div>
</div>


