<div class="class_tab">

    <!-- 切换tab-->
    <div class="shop_order_tab">

        <div class="tab_contain jdshop_shadow" id="orderTab">
            <div class="tab choose_tab" id="food">食品</div>
            <div class="tab" id="electrical">家电</div>
            <div class="tab" id="mother">母婴</div>
            <div class="tab" id="housewear">家居用品</div>
            <div class="tab" id="wine">酒水</div>
            <div class="tab" id="electrical">家电</div>
            <div class="tab" id="mother">母婴</div>
            <div class="tab" id="housewear">家居用品</div>
            <div class="tab" id="wine">酒水</div>
            <div class="tab" id="electrical">家电</div>
            <div class="tab" id="mother">母婴</div>


        </div>

        <div class="more">
            <img class="icon_more" src="../images/icons/the_arrow.png">
        </div>


    </div>






</div>

<script src="../../js/jquery-3.0.0.min.js"></script>

<script>



    //tab 切换

    jfProductDetails.clickTabChange(document.getElementById('orderTab'), 'choose_tab', 'tab');

    showDown.showFood();

    showDown.showElec();

    showDown.showMother();

    showDown.showHousewear();

    showDown.showWine();

    showDown.hideThis();












</script>

