<div class="class_tab">

    <!-- 切换tab-->
    <div class="shop_order_tab">

        <div class="tab_contain jdshop_shadow" id="orderTab">
            <div class="tab clicks choose_tab" >食品</div>
            <div class="tab clicks">家电</div>
            <div class="tab clicks">母婴</div>
            <div class="tab clicks">家居用品</div>
            <div class="tab clicks">酒水</div>
            <div class="tab clicks">家电</div>
            <div class="tab clicks">母婴</div>
            <div class="tab clicks">家居用品</div>
            <div class="tab clicks">酒水</div>
            <div class="tab clicks">家电</div>
            <div class="tab clicks">母婴</div>


        </div>

        <div class="more">
            <img class="icon_more" src="../images/icons/the_arrow.png">
        </div>


    </div>


</div>

<script src="../js/jquery-3.0.0.min.js"></script>

<script>



    //tab 切换

    jfProductDetails.clickTabChange(document.getElementById('orderTab'), 'choose_tab', 'tab');

    showDown.changeTab();

    showDown.hideThis();












</script>

