
<div class="search_tab">

    <a class="return_hkb_mall" href="homepage.html">
        <div class="return">
            <img class="return_icon" src="../images/icons/return_hkb_mall.png">
            <p>返回主商城</p>

        </div>
    </a>

    <div class="content">
        <div class="search ">
            <img class="search_icon" src="../images/icons/search.png">
            <form action="">
                <input type="search" placeholder="输入商品名搜索">
            </form>

        </div>
    </div>

</div>
