

    <div class="homepage_recommendation">

        <!-- ` -->        <div class="recommendation recommendation1">

            <!--标题-->
            <div class="title">
                <span class="line"></span>
                <p class="title_text">精品推荐</p>
                <span class="line"></span>
            </div>

            <!--圆点更多-->
            <a class="circle" href="recommend_more.html">
                <span></span>
                <span></span>
                <span></span>
            </a>


            <!--第一行-->
            <div class="goods_list list1">

                <a class="list_detail" href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods1.png">
                    </div>
                    <div class="goods_title">谷风一木软抽面巾纸</div>
                    <div class="price">¥16.90</div>
                </a>

                <a class="list_detail"  href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                    </div>
                    <div class="goods_title">车载空气净化器净化器</div>
                    <div class="price">¥399.90</div>
                </a>

                <a class="list_detail"  href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods3.png">
                    </div>
                    <div class="goods_title">网易智造X3蓝牙耳机</div>
                    <div class="price">¥199.90</div>
                </a>


                <a class="list_detail" href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods1.png">
                    </div>
                    <div class="goods_title">谷风一木软抽面巾纸</div>
                    <div class="price">¥16.90</div>
                </a>

                <a class="list_detail"  href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods2.png">
                    </div>
                    <div class="goods_title">车载空气净化器净化器</div>
                    <div class="price">¥399.90</div>
                </a>

                <a class="list_detail"  href="">
                    <div class="pic">
                        <img class="banner_pic" src="../images/pics/homepage_goods3.png">
                    </div>
                    <div class="goods_title">网易智造X3蓝牙耳机</div>
                    <div class="price">¥199.90</div>
                </a>

            </div>
        </div>


    </div>




