<!--网易严选订单列表-->


<div class="order_details">

    <div class=" order_detail details_list">

        <div class="order_list">

            <div class="list_detail list1">

                <div class="store_title title_text">

                    <div class="status_title">
                        <img class="store_logo" src="../images/pics/yanxuan_logo.png">
                        <p class="store_name" >网易严选</p>
                        <img class="the_arrow" src="../images/icons/the_arrow.png">
                    </div>

                    <div class="status">已完成</div>

                </div>


                <a class="order_goods" href="order_details.html">
                    <div class="goods_pic">
                        <img class="store_logo" src="../images/pics/homepage_goods1.png">
                    </div>

                    <div class="goods_info">
                        <div class="goods_name">商品名称商品名称商品名称商品名称</div>
                        <div class="goods_sku">
                            <div class="sku_info">SKU信息</div>
                            <div class="number">x2</div>
                        </div>
                        <div class="goods_price">¥199.00</div>
                    </div>
                </a>

                <a class="order_goods" href="order_details.html">
                    <div class="goods_pic">
                        <img class="store_logo" src="../images/pics/homepage_goods1.png">
                    </div>

                    <div class="goods_info">
                        <div class="goods_name">商品名称商品名称商品名称商品名称</div>
                        <div class="goods_sku">
                            <div class="sku_info">SKU信息</div>
                            <div class="number">x2</div>
                        </div>
                        <div class="goods_price">¥199.00</div>
                    </div>
                </a>

                <div class="details_total">

                    <div class="detail">
                        <p >商品总价</p>
                        <p >¥295.00</p>
                    </div>

                    <div class="detail">
                        <p >运费（快递）</p>
                        <p >¥5.00</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="real_payment">
            <p >实付款</p>
            <p class="money">¥300.00</p>
        </div>



    </div>

</div>


