
.order_blank{
  width: 100%;
  height: 52px;
}


.order_detail{


/*订单编号*/

  .order_number{
    background-color: white;
    margin-top: 10px;
    padding: 0 20px;

    .order_public{
      padding: 15px 0;
    }

    .number_detail{
      display: flex;
      justify-content: space-between;
      align-items: center;

     div {
       display: flex;
       align-items: center;
       .middle {
         color: #ff8000;
         padding-right: 15px;
       }
       .right {
         color: #ff8000;
       }
     }

    }
    .order_time{
      border-top: 1px solid #ddd;
    }
  }

  /*订单列表*/
  .order_list{
    background-color: white;
    padding: 0 20px;
    border-top: 1px solid #ddd;

    .list_detail{


      .store_title{
        display: flex;
        align-items: center;
        padding: 15px 0;

        img{
          width: 24px;
          margin-right: 10px;
        }
      }


      .order_goods{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0;
        border-top:1px solid #ddd;
        .goods_pic{
          width: 80px;
          img{
            width: 100%;
            vertical-align: middle;
          }
        }
       .goods_info{
         width: 75%;
         margin-left: 10px;
         color: #4a4a4a;

         .goods_name{
           display: -webkit-box;
           -webkit-box-orient: vertical;
           -webkit-line-clamp:1;
           overflow: hidden;
         }
         .goods_sku{
           display: flex;
           justify-content: space-between;
           align-items: center;
           color: #8a8a8a;

           .sku_info{
             font-size: 12px;
           }
         }
         .goods_price{
           color: #ff8000;
           margin-top: 10px;
         }
       }
      }


      .goods_total{
        text-align: right;


      }

    }
  }

  /*总计*/

  .total{
    padding: 20px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 320px) {
      font-size: 12px;
    }

    .total_pay{
      color: #ff8000;
      border: 1px solid #ff8000;
      padding: 2px 5px;
      border-radius: 5px;
    }

  }

  .order_total{
    text-align: left;
    background-color: white;
    padding:20px;

    span{
      font-weight: bold;
    }
  }
}